@import '../../assets/styles/colors';

.user-info {
  margin-bottom: 3rem;
  display: inline-block;
  padding: 5rem 5rem 5rem 0;
  border-bottom: 5px solid $color-dark;
  border-right: 5px solid $color-dark;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.header {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.user-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 3rem 1rem;
}
