@import '../../assets/styles/colors';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 2rem;
    color: $color-dark;
  }
}

.dark {
  * {
    color: $color-white !important;
  }
}

.inNav {
  z-index: 10000;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  margin: 0 0.7rem;
}

.profile-link {
  margin-top: -5px;
  font-size: 1.5rem;
}
