@import '../../assets/styles/colors';

.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 1000px;
    height: 500px;
}