$color-primary: #000;
$color-secondary: #fff;
$color-dark: #000;
$color-gray: #949799;
$color-gray-light: #dce4e7;
$color-white: #fff;

$color-success: #7fec34;
$color-info: #1469ff;
$color-warning: #ff9e14;
$color-error: #f50e0e;
