@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/cormorantGaramond/CormorantGaramond-Regular.ttf');
  src: url('../fonts/cormorantGaramond/CormorantGaramond-Regular.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-Light.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-LightItalic.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-Bold.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-BoldItalic.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-Italic.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-Medium.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-MediumItalic.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-SemiBold.ttf')
      format('truetype'),
    url('../fonts/cormorantGaramond/CormorantGaramond-SemiBoldItalic.ttf')
      format('truetype');
}
