@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/openSans/OpenSans-Regular.ttf');
  src: url('../fonts/openSans/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-LightItalic.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-BoldItalic.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-Italic.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-Medium.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-MediumItalic.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-SemiBold.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-SemiBoldItalic.ttf') format('truetype')
      url('../fonts/openSans/OpenSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/openSans/OpenSans-ExtraBoldItalic.ttf')
      format('truetype');
}
